@font-face {
  font-family: 'icomoon';
  src:  url('fonts/icomoon.eot?ftsk');
  src:  url('fonts/icomoon.eot?ftsk#iefix') format('embedded-opentype'),
    url('fonts/icomoon.ttf?ftsk') format('truetype'),
    url('fonts/icomoon.woff?ftsk') format('woff'),
    url('fonts/icomoon.svg?ftsk#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-diamond:before {
  content: "\e901";
}
.icon-gem:before {
  content: "\e901";
}
.icon-streetsign:before {
  content: "\e029";
}
.icon-pencil:before {
  content: "\e032";
}
.icon-map-pin:before {
  content: "\e047";
}
.icon-watch:before {
  content: "\e900";
}
.icon-network:before {
  content: "\e902";
}
.icon-mobile:before {
  content: "\e958";
}
.icon-eye:before {
  content: "\e9ce";
}
.icon-facebook:before {
  content: "\ea90";
}
.icon-twitter:before {
  content: "\ea96";
}

